<template>
  <div>
    <v-row justify="start" align="baseline" class="mt-10 topTextHome">
      <transition name="texttop">
        <v-col cols="3"  v-if="show">
          <div class="ml60">
            <h2>
              <span class="dividerX"></span>
              <span class="gridHomeTitle">Our products</span>
            </h2>
          </div>
        </v-col>
      </transition>
      <transition name="texttop">
        <v-col cols="3" v-if="show">
          <div class="ml120">
            <div v-for="(item, index) in itemsPart1" :key="'itemsPart1'+index" class="gridHomeDivItem">
              <div class="dividerX"></div>
              <span class="gridHomeItem">{{ item }}</span>
            </div>
          </div>
        </v-col>
      </transition>
      <transition name="texttop">
        <v-col cols="3" v-if="show">
          <div class="ml200">
            <div v-for="(item, index) in itemsPart2" :key="'itemsPart2'+index" class="gridHomeDivItem">
              <div class="dividerX"></div>
              <span class="gridHomeItem">{{ item }}</span>
            </div>
          </div>
        </v-col>
      </transition>
      <transition name="icontop">
        <v-col cols="3" align-self="end" v-if="show">
          <div class="ml200 pl150">
            <div v-for="(icon, index) in icons" :key="'icon'+index" class="gridHomeDivItem">
              <v-icon
                  style="cursor: pointer"
                  color="#375238"
              >
                {{ icon }}
              </v-icon>
            </div>
          </div>
        </v-col>
      </transition>
    </v-row>
    <v-row justify="start" align="baseline">
      <transition name="numberpage">
        <div class="pageNumberDiv" v-if="show">
          <span class="firstNumberPage">{{ pageNumber }}</span>
          <span class="dividerPage"> / </span>
          <span class="maxNumberPage"> {{ pageNumberMax }}</span>
        </div>
      </transition>
      <v-col cols="3">
        <transition name="mainimg">
          <v-img
              v-if="pageNumber === 1 && show"
              contain
              class="ananasImg"
              :cover="true"
              height="85%"
              :src="require(`@/assets/img/home/ananas.png`)"
          >
          </v-img>
        </transition>
        <transition name="mainimg">
          <v-img
              v-if="pageNumber === 2 && show"
              contain
              class="brocoliImg"
              width="700px"
              :src="require(`@/assets/img/home/brocoli.png`)"
          >
          </v-img>
        </transition>
      </v-col>
      <v-col cols="7" class="titleHome">
        <h1>
          <div class="h1Yellow">Our fruits</div>
          <div class="h1Yellow">& vegetables</div>
          <div>
            <span class="h1Yellow">are</span>
            <span class="h1Green"> organic.</span>
          </div>
        </h1>
        <div class="divTextHome">
          <p class="textHome">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p>
        </div>
        <div class="divBtnHome">
          <v-btn
              class="btnChangeColor"
              width="200px"
              dark
              depressed
              tile
          >
            DISCOVER
            <v-icon right>
              mdi-menu-right
            </v-icon>
          </v-btn>
        </div>
      </v-col>
      <transition name="changepage">
        <v-col cols="2" class="changeHomePage" v-if="show">
          <v-row align="center" justify="center">
            <v-col cols="5" style="padding: 0;">
              <v-img
                  max-height="120px"
                  v-if="pageNumber === 1"
                  contain
                  :src="require(`@/assets/img/home/brocoli.png`)"
              ></v-img>
              <v-img
                  max-height="120px"
                  v-if="pageNumber === 2"
                  contain
                  :src="require(`@/assets/img/home/ananas.png`)"
              ></v-img>
            </v-col>
            <v-col cols="1">
              <div class="nextVegeText">
                <p class="nextVegePart1">Next</p>
                <p class="nextVegePart2" v-if="pageNumber === 1">Vegetables</p>
                <p class="nextVegePart2" v-if="pageNumber === 2">Fruits</p>
              </div>
            </v-col>
            <v-col cols="6">
              <v-btn
                  @click="changePage"
                  color="#F1D145"
                  width="120px"
                  height="120px"
                  class="btnChangePage btnChangeColor"
                  dark
                  depressed
                  tile
              >
                <v-icon large>
                  mdi-menu-right
                </v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </transition>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'Home',
  props: {
    loading: Boolean
  },
  data () {
    return {
      show: false,
      pageNumber: 1,
      pageNumberMax: 2,
      itemsPart1: [
        'Pineapples', 'Strawberries', 'Apples', 'Citrus'
      ],
      itemsPart2: [
        'Cauliflowers', 'Tomatoes', 'Eggplants', 'Carotts'
      ],
      icons: [
        'mdi-twitter', 'mdi-youtube', 'mdi-instagram', 'mdi-facebook'
      ]
    }
  },
  methods: {
    changePage () {
      setTimeout(() => {
        if (this.pageNumber < this.pageNumberMax) {
          this.$set(this, 'pageNumber', this.pageNumber + 1)
        } else {
          this.$set(this, 'pageNumber', 1)
        }
        this.$set(this, 'show', false)
      }, 500)
      this.$emit('loading')
    },
  },
  watch: {
    loading: {
      immediate: true,
      handler (val, oldVal) {
        if (val && !oldVal) {
          this.$set(this, 'show', false)
          setTimeout(() => {
            this.$set(this, 'show', true)
          }, 1000)
        } else if (!val && oldVal) {
        }
      }
    }
  },
  mounted () {
    this.$set(this, 'show', false)
    setTimeout(() => {
      this.$set(this, 'show', true)
    }, 1)
  },
}
</script>

<style scoped>

.mainimg-enter-active {
  animation: slide-bottom-to-top 0.5s;
}

.mainimg-leave-active {
  animation: fadeout 0.5s;
}

.numberpage-enter-active {
  animation: slide-bottom-to-top 0.5s;
}

.numberpage-leave-active {
  animation: slide-bottom-to-top 0.5s reverse;
}

.texttop-enter-active {
  animation: slide-right-to-left 0.5s;
}

.texttop-leave-active {
  animation: slide-right-to-left 0.5s reverse;
}

.icontop-enter-active {
  animation: slide-left-to-right 0.5s;
}

.icontop-leave-active {
  animation: slide-left-to-right 0.5s reverse;
}

.changepage-enter-active {
  animation: slide-left-to-right-far 0.5s;
}

.changepage-leave-active {
  animation: slide-left-to-right-far 0.5s reverse;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-right-to-left {
  0% {
    transform: translateX(-600px);
  }
  10% {
    transform: translateX(-500px);
  }
  20% {
    transform: translateX(-400px);
  }
  30% {
    transform: translateX(-350px);
  }
  40% {
    transform: translateX(-300px);
  }
  50% {
    transform: translateX(-250px);
  }
  60% {
    transform: translateX(-200px);
  }
  70% {
    transform: translateX(-150px);
  }
  80% {
    transform: translateX(-100px);
  }
  90% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-left-to-right {
  0% {
    transform: translateX(200px);
  }
  10% {
    transform: translateX(180px);
  }
  20% {
    transform: translateX(160px);
  }
  30% {
    transform: translateX(140px);
  }
  40% {
    transform: translateX(120px);
  }
  50% {
    transform: translateX(100px);
  }
  60% {
    transform: translateX(80px);
  }
  70% {
    transform: translateX(60px);
  }
  80% {
    transform: translateX(40px);
  }
  90% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-left-to-right-far {
  0% {
    transform: translate(600px);
  }
  10% {
    transform: translateX(550px);
  }
  20% {
    transform: translateX(500px);
  }
  30% {
    transform: translateX(450px);
  }
  40% {
    transform: translateX(400px);
  }
  50% {
    transform: translateX(350px);
  }
  60% {
    transform: translateX(300px);
  }
  70% {
    transform: translateX(250px);
  }
  80% {
    transform: translateX(200px);
  }
  90% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-bottom-to-top {
  0% {
    transform: translateY(600px);
  }
  10% {
    transform: translateY(500px);
  }
  20% {
    transform: translateY(400px);
  }
  30% {
    transform: translateY(350px);
  }
  40% {
    transform: translateY(300px);
  }
  50% {
    transform: translateY(250px);
  }
  60% {
    transform: translateY(200px);
  }
  70% {
    transform: translateY(150px);
  }
  80% {
    transform: translateY(100px);
  }
  90% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.ananasImg {
  z-index: 0;
  left: 10%;
  bottom: -80px;
  position: fixed;
}

.brocoliImg {
  z-index: 0;
  left: 130px;
  top: 250px;
  position: fixed;
}

.nextVegeText {
  position: fixed;
  margin-top: 40px;
  margin-left: -35px;
  transform-origin: 0 0;
  transform: rotate(270deg);
}

.nextVegePart1 {
  margin-bottom: 0;
  font: normal normal bold 13px Acumin Pro;
  letter-spacing: 0.9px;
  color: #F1D145;
}

.nextVegePart2 {
  margin-bottom: 0;
  font: normal normal bold 13px Acumin Pro;
  letter-spacing: 0.9px;
  color: #375238;
}

.btnChangePage {
  margin-bottom: 10px;
  margin-left: -25px;
}

.gridHomeTitle {
  font: normal normal bold 18px/23px Acumin Pro;
  letter-spacing: 1.3px;
  color: #3b573b;
}

.gridHomeItem {
  font: normal normal bold 12px/17px Acumin Pro;
  color: #3b573b;
}

.gridHomeDivItem {
  margin-bottom: 20px;
}

.changeHomePage {
  position: fixed;
  bottom: 35px;
  right: 50px;
}

.titleHome {
  z-index: 1;
  position: fixed;
  top: 350px;
  left: 560px;
}

.divBtnHome {
  margin-top: 25px;
}

.btnHome {
  width: 200px;
}

.btnChangeColor {
  background: linear-gradient(to left, #F1D145 50%, #375238 50%) right;
  background-size: 200%;
  transition: 0s;
}

.btnChangeColor:hover {
  background-position: left;
  transition: 0.3s ease-out;
}

.topTextHome {
  padding-left: 100px;
}

.divTextHome {
  width: 950px;
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.3);
}

.textHome {
  margin-bottom: 0;
  text-align: left;
  font: normal normal bold 12px/14px Acumin Pro;
  letter-spacing: 0.9px;
  color: #375238;
  opacity: 1;
}

.h1Yellow {
  margin-bottom: -30px;
  text-align: left;
  font: normal normal 900 130px Acumin Pro;
  letter-spacing: 2px;
  color: rgba(255, 198, 0, 0.7);
}

.h1Green {
  text-align: left;
  font: normal normal 900 130px Acumin Pro;
  letter-spacing: 2px;
  color: #39553A;
}

.dividerX {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  display: inline-block;
  width: 35px;
  border-bottom: #F3D145 2px solid;
}

.firstNumberPage {
  color: #F1D145;
  font: normal normal bold 70px Acumin Pro;
}

.maxNumberPage {
  margin-left: 10px;
  color: #375238;
  font: normal normal bold 22px Acumin Pro;
}

.dividerPage {
  color: #F1D145;
  font: normal normal bold 22px Acumin Pro;
  margin-left: 10px;
}

.pageNumberDiv {
  z-index: 1;
  position: fixed;
  bottom: 75px;
  left: 175px;
}

.ml60 {
  margin-left: 60px;
}

.ml120 {
  margin-left: 120px;
}

.ml200 {
  margin-left: 200px;
}

.pl150 {
  padding-left: 150px;
}

</style>

