<template>
  <div class="loadingPageMainDiv" v-if="show">
    Loading ...
  </div>
</template>

<script>
export default {
  name: 'LoadingPage',
  props: {
    loading: Boolean
  },
  data () {
    return {
      show: false,
    }
  },
  methods: {
  },
  watch: {
    loading: {
      immediate: true,
      handler (val, oldVal) {
        if (val && !oldVal) {
          this.$set(this, 'show', false)
          setTimeout(() => {
            this.$set(this, 'show', true)
          }, 500)
        }
      }
    }
  },
  mounted () {
  }
}
</script>

<style scoped>

.loadingPageMainDiv {
  font: normal normal bold 12px/14px Acumin Pro;
  color: #375238;
  padding: 50vh 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(244, 245, 247);
}
</style>

