<template>
  <v-navigation-drawer
      v-model="mini"
      :mini-variant="mini"
      mini-variant-width="125px"
      width="100vw"
      permanent
      stateless
      fixed
  >
    <v-list min-height="100vh" class="align-content-space-around flex-wrap" width="125px" style="display: inline-flex;">
      <v-list-item
          v-for="item in items"
          :key="item.title"
          style="display: initial;"
      >
        <v-row justify="center" align="center" v-if="item.type === 'logo'">
          <v-img
              :src="item.src"
              max-width="65px"
          >
          </v-img>
        </v-row>

        <v-row justify="center" align="center" v-if="item.type === 'panier'">
          <v-img
              :src="item.src"
              max-width="19px"
          >
          </v-img>
        </v-row>

        <v-row justify="center" align="center" v-if="item.type === 'divider'">
          <v-col class="divider">
          </v-col>
          <v-col>
          </v-col>
        </v-row>
        <v-row justify="center" align="center" v-if="item.type === 'expand'" @click="clickDrawer">
          <v-hover
              v-slot="{ hover }"

          >
            <v-img
                style="cursor: pointer"
                v-if="mini"
                max-width="35px"
                :src="require(`@/assets/img/navbar/hamburger.png`)"
                v-bind:class="hover ? 'grow' : ''"
            >
            </v-img>
          </v-hover>
          <v-icon
              style="cursor: pointer"
              v-if="!mini"
              large
              color="#375238"
          >
            mdi-close
          </v-icon>
        </v-row>
        <v-row justify="center" align="center" v-if="item.type === 'loupe'">
          <v-img
              :src="item.src"
              max-width="19px"
          >
          </v-img>
        </v-row>

        <v-row justify="center" align="center" v-if="item.type === 'brand'">
          <div class="nameBrand">
              <span>
                <span class="namePart1">ORGA</span>
                <span class="namePart2">BITS</span>
            </span>
          </div>
        </v-row>

      </v-list-item>
    </v-list>
    <navbar-expand :expand="expand"></navbar-expand>
  </v-navigation-drawer>
</template>

<script>
import NavbarExpand from './NavbarExpand'

export default {
  name: 'Navbar',
  components: {
    NavbarExpand
  },
  data () {
    return {
      items: [
        {title: 'Logo', src: require(`@/assets/img/navbar/logoRabbit@2x.png`), type: 'logo'},
        {title: 'Panier', src: require(`@/assets/img/navbar/panier.png`), type: 'panier'},
        {title: 'Divider1', type: 'divider'},
        {title: 'Expand', type: 'expand'},
        {title: 'Divider2', type: 'divider'},
        {title: 'Loupe', src: require(`@/assets/img/navbar/search.png`), type: 'loupe'},
        {title: 'ORGABITS', type: 'brand'}
      ],
      wait: false,
      mini: true,
      expand: false,
    }
  },
  methods: {
    clickDrawer () {
      if (this.wait) {
        return
      }
      if (this.mini === true) {
        this.$set(this, 'mini', false)
        this.$set(this, 'wait', true)
        this.$set(this, 'expand', true)
        setTimeout(() => {
          this.$set(this, 'wait', false)
        }, 1000)
      } else {
        this.$set(this, 'expand', false)
        setTimeout(() => {
          this.$set(this, 'mini', true)
        }, 1000)
      }
    },
  },
  created () {
  }
}
</script>

<style>
.navbar {
  max-height: 936px;
  display: inline-flex;
  width: 125px;
}

.v-navigation-drawer__border {
  background-color: #FFFFFF !important;
}

.grow {
  transition: all .3s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.divider {
  height: 50px;
  border-right: #F3D145 solid 1px;
}

.nameBrand {
  position: fixed;
  margin-left: 60px;
  margin-top: 128px;
  transform-origin: 0 0;
  transform: rotate(270deg);
}

.namePart1 {
  text-align: left;
  font: normal normal bold 15px/28px Acumin Pro;
  letter-spacing: 0;
  color: #F1D145;
}

.namePart2 {
  text-align: left;
  font: normal normal bold 15px/28px Acumin Pro;
  letter-spacing: 0;
  color: #375238;
}
</style>

