<template>
  <v-container class="contentNavbarExpand" v-if="show">
    <v-row justify="start" align="baseline" class="mt-1">
      <v-col cols="4">
        <div class="ml60">
          <div v-for="(title, index) in titles" :key="'title'+index">
            <div v-bind:class="titleSetClass(title)">
              <div class="dividerX"></div>
              <span class="gridNavbarTitle">{{ title }}</span>
            </div>
          </div>
        </div>
      </v-col>
      <v-col cols="3">
        <div class="ml120">
          <div v-for="(item, index) in itemsPart1" :key="'itemsPart1'+index" class="gridNavbarDivItem">
            <div class="dividerX"></div>
            <span class="gridNavbarItem">{{ item }}</span>
          </div>
          <div class="mt-16">
            <div v-for="(item, index) in itemsPart2" :key="'itemsPart2'+index" class="gridNavbarDivItem">
              <div class="dividerX"></div>
              <span class="gridNavbarItem">{{ item }}</span>
            </div>
          </div>
        </div>
      </v-col>
      <v-col cols="5" style="padding-right: 0 !important;">
        <div class="ml120">
          <transition name="slide">
            <v-img
                v-show="showImg"
                class="navbarVegeExpand"
                :src="require(`@/assets/img/navbar/tomate.png`)"
                max-width="550px"
            >
            </v-img>
          </transition>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'NavbarExpand',
  props: {
    expand: Boolean
  },
  data () {
    return {
      show: false,
      showImg: false,
      itemsPart1: [
        'Pineapples', 'Strawberries', 'Apples', 'Citrus'
      ],
      itemsPart2: [
        'Cauliflowers', 'Tomatoes', 'Eggplants', 'Carotts'
      ],
      titles: [
        'Our fruits', 'Our vegetables', 'Our vision', 'Contact us'
      ]
    }
  },
  watch: {
    expand: {
      immediate: true,
      handler (val, oldVal) {
        if (val && !oldVal) {
          setTimeout(() => {
            this.$set(this, 'show', true)
            setTimeout(() => {
              this.$set(this, 'showImg', true)
            }, 500);
          }, 200);
        } else if (!val && oldVal) {
          this.$set(this, 'showImg', false)
          setTimeout(() => {
            this.$set(this, 'show', false)
          }, 1000)
        }
        // do your stuff
      }
    }
  },
  methods: {
    titleSetClass (el) {
      if (el !== 'Contact us') {
        return 'gridNavbarDivTitle'
      } else {
        return ''
      }
    },
  },
  created () {
  }
}
</script>

<style scoped>

.slide-enter-active {
  animation: slide-in 0.3s;
}
.slide-leave-active {
  animation: slide-in 0.3s reverse;
}

@keyframes slide-in {
  0% {
    transform: translateX(500px);
  }
  10% {
    transform: translateX(450px);
  }
  20% {
    transform: translateX(400px);
  }
  30% {
    transform: translateX(350px);
  }
  40% {
    transform: translateX(300px);
  }
  50% {
    transform: translateX(250px);
  }
  60% {
    transform: translateX(200px);
  }
  70% {
    transform: translateX(150px);
  }
  80% {
    transform: translateX(100px);
  }
  90% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}

.contentNavbarExpand {
  display: inline-flex;
}

.gridNavbarTitle {
  font: normal normal bold 18px/23px Acumin Pro;
  letter-spacing: 1.3px;
  color: #3b573b;
}

.gridNavbarItem {
  font: normal normal bold 10px/15px Acumin Pro;
  color: #3b573b;
}

.gridNavbarDivItem {
  margin-bottom: 20px;
}

.gridNavbarDivTitle {
  margin-bottom: 200px;
}

.navbarVegeExpand {
  position: absolute;
  margin-left: 120px;
}

.dividerX {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
  display: inline-block;
  width: 35px;
  border-bottom: #F3D145 2px solid;
}

.ml60 {
  margin-left: 60px;
}

.ml120 {
  margin-left: 120px;
}

.pl150 {
  padding-left: 150px;
}

</style>

