<template>
  <v-app>
    <transition name="fade">
      <div v-show="!loading">
        <navbar></navbar>
        <v-main>
          <router-view v-on:loading="setLoading" :loading="loading"></router-view>
        </v-main>
      </div>
    </transition>
    <loading-page v-show="loading" :loading="loading"></loading-page>
  </v-app>
</template>

<script>
import Navbar from './components/Navbar';
import LoadingPage from './components/LoadingPage';

export default {
  name: 'App',
  components: {
    Navbar,
    LoadingPage
  },
  methods: {
    setLoading () {
      this.$set(this, 'loading', true)
      setTimeout(() => {
        this.$set(this, 'loading', false)
      }, 1000)
    },
  },
  data () {
    return {
      loading: false,
    }
  },
  created () {
  }
};
</script>

<style>
  @import './assets/style.scss';

  .fade-enter-active {
    animation: fade 0.5s;
  }

  .fade-leave-active {
    animation: fade 0.5s reverse;
  }


  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
</style>
